<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Thai cuisine</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="/admin/login">Admin</a></li>
            <li><a href="/user/login">User</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/home/contactus">Contact Us</a></li>
        </ul>
    </div>
</nav>
<h1 th:text="${title}"></h1>

<form method="post" th:action="@{/admin/home}" style="max-width:600px;" th:object="${admin}">
    <div class="form-group">
        <label th:for="username">UserName</label>
        <input class="form-control" id="name-field" type="text"  th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" id="password-field" type="password" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <input type="submit" value="Login" />
    <div class="margin-top20 text-center"> New User? <a th:href="@{register}">Create an account</a></div>
</form>

</body>
</html>