<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/user/home">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/order/add">Add to cart</a></li>
            <li class="active"><a href="/order/view">View cart</a></li>
            <li><a href="/user/login">Logout</a></li>
        </ul>
    </div>
</nav>

<body>
<h1 th:text="${title}">Default title</h1>
<h2 th:text="'Your Order has been placed Successfully and it will be ready in 30 minutes. Thank you for your order.'"></h2>
</body>
</html>