<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/admin/home">Home</a></li>
                    <li  class="active"><a href="/menu/add">Add Menu</a></li>
                    <li><a href="/menu">View Menu</a></li>
                    <li><a href="/admin/login">Logout</a></li>
                </ul>
            </div>
        </nav>

        <h1 th:text="${title}"></h1>

        <form method="post" style="max-width:600px;" th:object="${menu}">
            <div class="form-group ">
                <label th:for="itemName">Name</label>
                <input class="form-control" th:field="*{itemName}" />
                <span th:errors="*{itemName}" class="error"></span>
            </div>
            <div class="form-group ">
                <label th:for="itemDescription">Description</label>
                <input class="form-control" th:field="*{itemDescription}" />
                <span th:errors="*{itemDescription}" class="error"></span>
            </div>
            <div class="form-group ">
                <label th:for="price">Price</label>
                <input class="form-control" th:field="*{price}" />

            </div>
            <div class="form-group">
                <label th:for="type">Type</label>
                <select name="categoryId">
                    <option th:each="category: ${categories}"
                            th:text="${category.name}"
                            th:value="${category.id}"></option>
                </select>
            </div>

            <input type="submit" value="Add Item" />
        </form>

    </body>
</html>