<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Thai cuisine</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/admin/login">Admin</a></li>
                    <li><a href="/user/login">User</a></li>
                    <li class="active"><a href="/menu">Menu</a></li>
                    <li><a href="/home/contactus">Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <center><h1 th:text="${title}"></h1></center>

        <p th:unless="${items} and ${items.size()}">no items:(</p>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Category</th>

                    </tr>
                </thead>
                <tr th:each="item : ${items}">
                    <td th:text="${item.itemName}"></td>
                    <td th:text="${item.itemDescription}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.category.name}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>